<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044856792480-c2p92d3d2f15r8qkglk58ilvps0n61r0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044856792480-c2p92d3d2f15r8qkglk58ilvps0n61r0</string>
	<key>API_KEY</key>
	<string>AIzaSyBN5IrSFiQhmBy49sQkhCy5pAEMY7xILTo</string>
	<key>GCM_SENDER_ID</key>
	<string>1044856792480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nibm.Cafe-NIBM</string>
	<key>PROJECT_ID</key>
	<string>cafe-nibm-1904b</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe-nibm-1904b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044856792480:ios:1df3c28bf9f9551a0470c5</string>
</dict>
</plist>